<h2>Welcome to the Exercise Tracker App! This Exercise Tracker app will allow you to create exercises keep track of the exercises that you do and track your progress on those exercises. To get started Sign up or Sign in with Github</h2>

<%=link_to "Sign in with Github", user_github_omniauth_authorize_path %>
